:root {
    --mono-font: 'Roboto Mono', monospace;
    --roboto-font: 'Roboto', sans-serif;
    --header-text-color: white;
    --footer-back-color: #1d3557;
}

footer {
    background-color: var(--footer-back-color);
    color: var(--header-text-color);
}

.footer-nav-link-wrap,
.contact-info,
.contact-wrap,
.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav-title,
.contact-label {
    margin: 1em 0;

    font-family: var(--mono-font);
    font-weight: 700;
    font-size: clamp(2rem, 3vw, 2.6rem);
}

.footer-link,
.mail-link {
    font-family: var(--roboto-font);
    font-style: normal;
    font-size: clamp(1.6rem, 3vw, 2rem);
    text-decoration: none;

    color: var(--header-text-color);
}

.footer-link {
    margin: 1em 0;
}

.social-media-wrap {
    margin: 2.5em 0;
}

.link-img {
    width: 35px;
    height: 35px;
    margin: 0 1em;

    border-radius: 50%;
}

@media (min-width: 700px) {
    footer {
        padding: 2em 0;
    }

    footer .container {
        display: flex;
        justify-content: space-evenly;

        width: 90%;
    }
}