* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;

    --headings-font: 'Roboto Mono', monospace;
    --text-font: 'Roboto', sans-serif;

    --header-back-color: #0088DC;
    --body-back-color: rgb(240 240 240);
    --calc-back-color: white;
    --shadow-color: rgb(0 0 0 / .255); 
    --text-color: rgb(0 0 0 /.85);
    --btn-back-color: #38b000;
    --btn-text-color: white;
}

body {
    margin: 0;

    font-family: var(--text-font);

    background-color: var(--body-back-color);
    color: var(--text-color);
}

.hide {
    overflow: hidden;
}

.header-wrap {
    background-color: var(--header-back-color);
    box-shadow: 0 5px 5px var(--shadow-color);
}

.page-header .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: .5em 0;
}

.menu-btn {
    border: none;

    font-size: 2.6rem;

    background-color: inherit;
    color: var(--btn-text-color);
    border-radius: 50%;
}

.logo-img {
    width: min(17.5vw, 70px);
    height: auto;
    margin-left: 25px;
}

.header-nav {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;

    height: 100vh;

    transform-origin: center left;
    transform: translateX(-100%);
    transition: transform 300ms;

    background-color: var(--calc-back-color);
}

.open {
    transform: translateX(0);
}

.nav-top {
    background-color: var(--header-back-color);
}

.nav-top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    padding: .5em 0;
    margin: 0 auto;
}

.nav-top-logo {
    width: min(20%, 70px);
    height: auto;
}

.exit-btn {
    padding: .25em .5em;
    border: none;

    font-size: 2.4rem;

    background-color: inherit;
    color: var(--btn-text-color);
    border-radius: 50%;
}

.link {
    padding: 1em 0 .75em 1.5em;
    border-bottom: 1px solid var(--shadow-color);

    font-family: var(--headings-font);
    font-size: clamp(1.6rem, 3vw, 2rem);
    font-weight: 700;
    text-decoration: none;

    color: var(--header-back-color);
}

main {
    display: block;
}

.container {
    width: min(90%, 1100px);
    margin: 0 auto;
}

.title {
    margin: 20px 0;

    font-family: var(--headings-font);
    font-size: clamp(2.6rem, 4.5vw, 3.6rem);
    text-align: center;
}

.calculator {
    padding: 1.25em 0;
    margin: 35px 0;

    font-size: 1.6rem;

    background-color: var(--calc-back-color);
    border-radius: 8px;
    box-shadow: 1px 1px 8px var(--shadow-color);
}

.subtitle {
    margin: 0 0 25px;

    font-family: var(--headings-font);
    font-size: clamp(2rem, 4.5vw, 3.2rem);
    font-weight: 500;
}

.calc-form {
    display: flex;
    justify-content: flex-start;
}

.many-inputs {
    flex-wrap: wrap;
}

.input-label-wrap {
    display: flex;
    flex-direction: column;

    margin: 0 5px 10px 0;
}

.input-label-wrap:not(:nth-child(2)) {
    width: 70%;
}

.small-calc .input-label-wrap:first-child {
    width: 90%;
}

input,
select,
textarea {
    border: none;
    border-bottom: 2px solid var(--shadow-color);
    padding: .25em;

    font-size: clamp(1.4rem, 1.5vw, 1.7rem);
    font-weight: 700;

    background-color: inherit;
    color: inherit;
}

textarea {
    resize: none;
    overflow: auto;
}

input:focus,
select:focus,
textarea:focus,
.btn:focus {
    border: 1px solid var(--btn-back-color);
    outline: 1px solid var(--btn-back-color);
}

select:hover {
    cursor: pointer;
}

.result-wrap {
    margin-bottom: 15px;
}

.result {
    margin: 5px 0;
}

.number,
.power {
    font-size: clamp(1.4rem, 2vw, 1.8rem);
    font-weight: 700;
}

.number {
    margin-left: 5px;
}

.btn {
    padding: .5em 1.25em;
    border: 1px solid var(--btn-back-color);
    margin-right: 10px;

    font-family: var(--headings-font);
    font-size: clamp(1.4rem, 1.5vw, 1.7rem);
    letter-spacing: .125ch;

    transition: background-color .1s, color .1s;

    background-color: var(--btn-back-color);
    color: var(--btn-text-color);
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color: var(--calc-back-color);
    color: var(--btn-back-color);
}

@media (min-width: 950px) {
    .page-header .container {
        justify-content: space-between;
    }

    .menu-btn {
        display: none;
    }

    .logo-img {
        margin-left: 0;
    }

    .header-nav {
        position: initial;

        flex-direction: row;
        
        height: auto;

        transition: none;
        transform: translateX(0);

        background-color: var(--header-back-color);
    }

    .nav-top {
        display: none;
    }

    .link {
        padding: 0;
        border: none;
        margin-left: 30px;

        color: var(--btn-text-color)
    }
}

@media (min-width: 950px) {
    .title {
        margin: 30px 0;
    }

    .main-container {
        width: 95%;
        margin-bottom: 5%;
    }

    .flex-container {
        display: flex;
        justify-content: space-around;
    }

    .calculator {
        width: 30%;
        margin: 0;
    }

    .calculator > .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
    }

    .small-calc {
        margin-top: 4%;
    }

    .single-calc {
        width: 50%;
    }
}